<div class="instruments-content">
  <div class="instruments-head">
    <div class="logotype">
      <img src="../../../assets/img/logo.png" alt=""/>
    </div>
  </div>
  <div class="instruments-body">

    <div class="instrument-statistic">
      <div class="statistic-line">
        <div class="instrument-title">Всего товаров</div>
        <div class="instrument-content" *ngIf="all !== null">{{ all }}</div>
      </div>
    </div>

    <div class="button bGreen">Добавить товар</div>
    <div class="button bRed">Удалить</div>

  </div>
  <div class="instruments-footer">

  </div>
</div>
