<div class="content-box" (click)="clickList($event)">
  <div class="instruments-menu {{(openMobile.openMobile)?'full':null}}">
    <app-instruments-tournaments [tournamentsData]="tournaments" (openmodal)="openModal($event)"></app-instruments-tournaments>
  </div>
  <div class="box1280">
    <div class="tournament-box" *ngIf="tournaments;then yestournament else nottournament"></div>
    <ng-template #yestournament>

      <div class="tournaments" *ngFor="let tour of tournaments.tournaments ">
        <div class="tournament-line title">{{tour.AI + " | " +tour.title[0]}}</div>
        <div class="tournament-line image">
          <img src="http://localhost/data/tournaments/map/{{tour.map}}.png" alt=""/>
        </div>
        <div class="button bOrange w80 noBorderRight"><i class="fas fa-edit"></i> Редактировать</div>
        <div class="button bOrange w20 noBorderLeft bbMinus" id="{{tour.AI}}"><i class="fas fa-bars" id="{{tour.AI}}"></i></div>
        <div class="tour-func-list" *ngIf="tourComponent === tour.AI">
          <div class="list-item {{'item_' + tour.AI}}" (click)="startTour($event)">Начать</div>
          <div class="list-item {{'item_' + tour.AI}}" (click)="liveTour($event)">Трансляция</div>
          <div class="list-item {{'item_' + tour.AI}}" (click)="activeTour($event)">Активировать</div>
          <div class="list-item {{'item_' + tour.AI}}" (click)="editTour($event)">Редактировать</div>
          <div class="list-item {{'item_' + tour.AI}}" (click)="endTour($event)">Завершить</div>
          <div class="list-item {{'item_' + tour.AI}}" (click)="removeTour($event)">Удалить</div>
        </div>
      </div>

    </ng-template>
    <ng-template #nottournament>
      <div class="isLoad"></div>
    </ng-template>
  </div>
</div>

<app-add-tournament id="addModal" class="modal" *ngIf="addmodal" (closemodal)="closeModal($event)"></app-add-tournament>
