<div class="content-box">
  <div class="box1280">
    <div class="tournament-box" *ngIf="tournaments;then yestournament else nottournament"></div>
    <ng-template #yestournament>
      <div class="tournaments" *ngFor="let tour of tournaments.tournaments ">
        <div class="tournament-line title">{{tour.AI + " | " +tour.title[0]}}</div>
        <div class="tournament-line image">
          <img src="http://localhost/data/tournaments/map/{{tour.map}}.png"/>
        </div>
      </div>
    </ng-template>
    <ng-template #nottournament>
      <div class="isLoad"></div>
    </ng-template>
  </div>
</div>
