<div class="content-box">
  <div class="instruments-menu">
    <app-instruments-tournaments [tournamentsData]="tournaments"></app-instruments-tournaments>
  </div>
  <div class="box1280">
    <div class="tournament-box" *ngIf="tournaments;then yestournament else nottournament"></div>
    <ng-template #yestournament>
      <div class="tournaments" *ngFor="let tour of tournaments.tournaments ">
        <div class="tournament-line title">{{tour.AI + " | " +tour.title[0]}}</div>
        <div class="tournament-line image">
          <img src="http://localhost/data/tournaments/map/{{tour.map}}.png" alt=""/>
        </div>
        <div class="button bOrange w80 noBordelRight"><i class="fas fa-edit"></i> Редактировать</div>
        <div class="button bOrange w20 noBordelLeft bbMinus"><i class="fas fa-bars"></i></div>
      </div>
    </ng-template>
    <ng-template #nottournament>
      <div class="isLoad"></div>
    </ng-template>
  </div>
</div>

<app-add-tournament id="addModal" class="modal"></app-add-tournament>
