.content-box{
  padding-top: 45px;
  height: calc(100% - 45px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  .products{
    width: calc(100% / 4 - 20px);
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 10px 5px;
    text-transform: uppercase;
    background-color: #f3f3f3;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.08);
    .title{

    }
    .image{
      width: 100%;
      img{
        max-width: 100%;
      }
    }
  }
}


