<div class="nav-menu">
  <nav>
    <a routerLink="/" routerLinkActive="active">Главная</a>
    <a routerLink="/tournaments" routerLinkActive="active">Турниры</a>
    <a routerLink="/news" routerLinkActive="active">Новости</a>
    <a routerLink="/news" routerLinkActive="active">Галерея</a>
    <a routerLink="/news" routerLinkActive="active">Черный список</a>
    <a routerLink="/news" routerLinkActive="active">Статистика</a>
    <a routerLink="/news" routerLinkActive="active">Информация</a>
    <a routerLink="/news" routerLinkActive="active">Пользователи</a>
    <a routerLink="/news" routerLinkActive="active">Онлайн</a>
    <a routerLink="/news" routerLinkActive="active">Магазин</a>
    <a routerLink="/news" routerLinkActive="active">Система</a>
  </nav>
</div>
<router-outlet></router-outlet>
