<div class="nav-menu">
  <div class="nav-prelink">
    <div class="mobile-menu-btn" (click)="mobileMenu()"><i class="fas fa-bars"></i></div>
  </div>
  <nav>
    <a routerLink="/main" routerLinkActive="active" key="0" (click)="selectButtonNav($event)" [className]="active === 0 ? 'active' : null"><i class="fas fa-home"></i><span>Главная</span></a>
    <a routerLink="/tournaments" routerLinkActive="active" key="1" (click)="selectButtonNav($event)" [className]="active === 1 ? 'active' : null"><i class="fas fa-trophy"></i><span>Турниры</span></a>
    <a routerLink="/news" routerLinkActive="active" key="2" (click)="selectButtonNav($event)" [className]="active === 2 ? 'active' : null"><i class="fas fa-newspaper"></i><span>Новости</span></a>
    <a routerLink="/gallery" routerLinkActive="active" key="3" (click)="selectButtonNav($event)" [className]="active === 3 ? 'active' : null"><i class="fas fa-images"></i><span>Галерея</span></a>
    <a routerLink="/black-list" routerLinkActive="active" key="4" (click)="selectButtonNav($event)" [className]="active === 4 ? 'active' : null"><i class="fas fa-gavel"></i><span>Черный список</span></a>
    <a routerLink="/statistic" routerLinkActive="active" key="5" (click)="selectButtonNav($event)" [className]="active === 5 ? 'active' : null"><i class="fas fa-chart-bar"></i><span>Статистика</span></a>
    <a routerLink="/information" routerLinkActive="active" key="6" (click)="selectButtonNav($event)" [className]="active === 6 ? 'active' : null"><i class="fas fa-question"></i><span>Информация</span></a>
    <a routerLink="/users" routerLinkActive="active" key="7" (click)="selectButtonNav($event)" [className]="active === 7 ? 'active' : null"><i class="fas fa-users"></i><span>Пользователи</span></a>
    <a routerLink="/online" routerLinkActive="active" key="8" (click)="selectButtonNav($event)" [className]="active === 8 ? 'active' : null"><i class="fas fa-globe"></i><span>Онлайн</span></a>
    <a routerLink="/shop" routerLinkActive="active" key="9" (click)="selectButtonNav($event)" [className]="active === 9 ? 'active' : null"><i class="fas fa-shopping-cart"></i><span>Магазин</span></a>
    <a routerLink="/system" routerLinkActive="active" key="10" (click)="selectButtonNav($event)" [className]="(active === 10) ? 'active' : null"><i class="fas fa-cogs"></i><span>Система</span></a>
  </nav>
</div>
<router-outlet></router-outlet>
