<div class="add-tournament">
  <div class="add-tournament-line header">
    <i class="fas fa-plus"></i>
    Добавить товар
    <div class="close-modal" (click)="closeModal()"><i class="fas fa-times"></i></div>
  </div>
  <div class="add-tournament-line body">
    <div class="tab-menu">
      <div [className]="selectedtab === 1 ? 'tab-btn active' : 'tab-btn'" (click)="selectTab(1)">1</div>
      <div [className]="selectedtab === 2 ? 'tab-btn active' : 'tab-btn'" (click)="selectTab(2)">2</div>
      <div [className]="selectedtab === 3 ? 'tab-btn active' : 'tab-btn'" (click)="selectTab(3)">3</div>
    </div>
    <div class="tab-contents">
      <div [className]="selectedtab === 1 ? 'tab active' : 'tab'" id="1">
        <div class="tab-title">Локализация товара</div>
        <div class="tab-content">
          <div class="mini-tabs-btn">
            <div [className]="selectedsubtab === 1 ? 'mini-tab-btn active' : 'mini-tab-btn'" (click)="selectSubTab(1)">
              <span>Русский</span>
            </div>
            <div [className]="selectedsubtab === 2 ? 'mini-tab-btn active' : 'mini-tab-btn'" (click)="selectSubTab(2)">
              <span>Українська</span>
            </div>
            <div [className]="selectedsubtab === 3 ? 'mini-tab-btn active' : 'mini-tab-btn'" (click)="selectSubTab(3)">
              <span>English</span>
            </div>
          </div>
          <div class="mini-tabs-content">
            <div [className]="selectedsubtab === 1 ? 'subtab active' : 'tab'">
              <app-input [title]="'Название'" [type]="'text'" [block]="'input'"></app-input>
              <app-input [title]="'Описание'" [block]="'textarea'"></app-input>
            </div>
            <div [className]="selectedsubtab === 2 ? 'subtab active' : 'tab'">
              <app-input [title]="'Название'" [type]="'text'" [block]="'input'"></app-input>
              <app-input [title]="'Описание'" [block]="'textarea'"></app-input>
            </div>
            <div [className]="selectedsubtab === 3 ? 'subtab active' : 'tab'">
              <app-input [title]="'Название'" [type]="'text'" [block]="'input'"></app-input>
              <app-input [title]="'Описание'" [block]="'textarea'"></app-input>
            </div>
          </div>
        </div>
      </div>
      <div [className]="selectedtab === 2 ? 'tab active' : 'tab'" id="2">
        <div class="tab-title">Настройки товара</div>
        <div class="tab-content">
          <div class="left-tovar-block">
            <input type="file" id="select-tovar-image" name="img"/>
            <div class="add-image-block">
              <img src="http://localhost/shop/none.png" alt=""/>
            </div>
            <label class="select-imgae" for="select-tovar-image">Выбрать изображение</label>
          </div>
          <div class="right-tovar-block">

            <div class="input-area">
              <div class="input-area-title">Тип товара</div>
              <select name="type">
                <option value="1">Сюрприз-боксы</option>
                <option value="2">Кружки</option>
                <option value="3">Кружки</option>
                <option value="4">Футболки</option>
                <option value="5">Носки</option>
                <option value="6">Аксессуары</option>
                <option value="7">Брелоки</option>
                <option value="8">Разное</option>
                <option value="9">Триггеры</option>
              </select>
            </div>

            <div class="input-area">
              <div class="input-area-title">Количевство на складе</div>
              <input type="text" name="length" value="10"/>
            </div>

          </div>
        </div>
      </div>
      <div [className]="selectedtab === 3 ? 'tab active' : 'tab'" id="3">
        <div class="tab-title">Стоимость и скидки</div>
        <div class="tab-content">

        </div>
      </div>
    </div>


  </div>
  <div class="add-tournament-line footer">
    <div class="button bRed" (click)="closeModal()">Отмена</div>
    <div class="button bGreen">Сохранить</div>
  </div>
</div>
