.data-block{
  float: left;
  width: calc(25% - 32px);
  margin: 5px;
  height: 120px;
  padding: 10px;
  font-size: 26px;
  border-radius: 6px;
  color: white;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
