.data-block{
  float: left;
  width: calc(25% - 32px);
  @media screen and (max-width: 800px) {
    width: calc(100% - 32px);
    height: 70px;
    font-size: 20px;
  }
  margin: 5px;
  height: 120px;
  padding: 10px;
  font-size: 26px;
  border-radius: 6px;
  color: white;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  .fas{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 80px;
    @media screen and (max-width: 800px) {
      font-size: 50px;
    }
    color: rgba(255, 255, 255, 0.8);
  }
  .block-title{
    float: left;
    width: 100%;
  }
  .block-length{
    float: left;
    width: 100%;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 60px;
    @media screen and (max-width: 800px) {
      left: 8px;
      bottom: 0px;
      font-size: 45px;
    }
  }
}
